body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;

}

#wrapper {
    opacity: 0.15;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    max-width: 90%;
}

.header {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    background-color: #333;

}

.header li {
    float: left;
    display: inline-block;
    width: 20%;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #976707;
}

.active {
    background-color: orange;
}
/*tekst*/

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.slikamapa {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 0.7s;
    
}

.slikamapa:hover {
    transform: scale(1.1);
    cursor: pointer;
    
}

.naslov{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.validator{
    height: 100px;
    position: absolute;
    top: 950px;
    right: 0px;
}

.link{
    position: absolute;
    top: 900px;
    right: 50px;
    font-size: 25px;
}

.validatorcss{
    height: 100px;
    position: absolute;
    top: 960px;
    right: 200px;
}

.linkcss{
    position: absolute;
    top: 900px;
    right: 250px;
    font-size: 25px;
}
